# Uppdate the connection string and database to the proper target
# ex: MONGO_DATABASE = your_database
MONGO_DB_CONNECTION_STRING = 
MONGO_DATABASE = 
MONGO_COLLECTION_CATEGORIES = categories
MONGO_COLLECTION_SETS = sets
MONGO_COLLECTION_PRODUCTS = products
MONGO_COLLECTION_SKUS = skus
MONGO_COLLECTION_PRICES = prices
